    @{
        ViewBag.Title = "LOBNHL";
}
<body>
<script type="text/x-handlebars">

        @*        <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">#LOBNHL</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="http://twitter.com/digitalgopher">With <i class="icon-heart"></i>by &#64;digitalgopher</a></li>
                <form class="navbar-search pull-right">
                   {{view App.Playersearch}}
               </form>
           </ul>
       </div>
   </div>*@
  @* <div class="navbar">
      <div class="navbar-inner">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        
        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="#">LOBNHL</a>
        
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
           <ul class="nav">
            <li><a href="http://twitter.com/digitalgopher">With <i class="icon-heart"></i>by &#64;digitalgopher</a></li>
             <li>
                 <form class="navbar-search pull-left">
                 {{view App.Playersearch}}
                     </form></li>

               
              

                 <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Teams
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu team-dropdown">
       {{outlet teamtest}}
    </ul>
    </li>
    </ul>
    </div>
    
</div>
</div>
</div>*@

    



    @*    <div id="left-nav" class="main-left-nav">
        <ul class="nav-list-teams">
            <li>
                <a href="#">LOBNHL Home</a>
            </li>
            {{outlet teamtest}}
        </ul>
    </div>*@
    @*<div id="mainContent" class=""style="position: relative">*@
        @*{{animatedOutlet name="main"}}*@
       
@*    </div>*@
    {{render navbar}}
         {{outlet}}
    
</script>
</body>

<script type="text/x-handlebars" data-template-name="navbar">
    <div class="navbar navbar-inverse" id="app-nav">
        <div class="container">
            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="navbar-brand" href="#">#LOBNHL</a>

            <!-- Place everything within .navbar-collapse to hide it until above 768px -->
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    @*             <li>
                <a href="#">Advanced Search</a>
            </li>
            <li>
                <a href="#">Trade Calculator</a>
            </li>*@
                    <li>{{#linkTo 'topplayers'}}League Leaders{{/linkTo}}
                    </li>
                    <li><a href="http://twitter.com/digitalgopher">&#64;digitalgopher</a></li>

                    <li>
                        <form class="navbar-form">
                            {{view App.PlayersearchView}}
                                
                          
                        </form>
                    </li>
                    <li>{{#linkTo 'trade'}}Trade{{/linkTo}}
                    </li>
                    <li>
                        <a href="http://issuu.com/mhenderson95/docs/mag_4f2d02299bead9">Magazine (!)</a>

                    </li>
                    <li>
                        <a href="http://offthestanchion.wordpress.com/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->
    </script>

    <script type="text/x-handlebars" data-template-name="tlist">
        {{#each t in controllers.teams.sortedTeams}}
    <li>{{#linkTo 'team' t}}
      @*  <img {{bindAttr src="t.imageUrl"}}  {{t.city}}*@
        {{t.city}}
        {{/linkTo}}
    </li>
        {{/each}}
    </script>

<script type="text/x-handlebars" data-template-name="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="page-header">
                <h1>Legion of Blog <small>The stats site for #LOBNHL NHL 13 GM's</small></h1>
            </div>
                </div>
            </div>
         @*   {{outlet teaminfo}}*@


            @*    <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Powerplay %</a></li>
                <li><a tabindex="-1" href="#">Penalty Kill %</a></li>
                <li><a tabindex="-1" href="#">Goals For</a></li>
                <li class="divider"></li>
            </ul>
        </div>*@




        {{#if controllers.teams.teamsIsLoaded}}
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    <button class="btn btn-default" {{action "filterConference" "1"}}>West</button>
                    <button class="btn btn-default" {{action "filterConference" "2"}}>East</button>
                    <button class="btn btn-default" {{action "filterConference" "3"}}>All</button>
                </div>
            </div>
        </div>
        <div class="row">
@*            <div id="mobile-team-grid">
                {{#each team in controllers.teams.sortedTeams}}
     
        <div class="teamGridContainer">
            {{#linkTo 'team' team}}
            <div {{ bindAttr class=":teamGridInner team.abr" }}>

                <div class="team-info-container">
                    {{team.abr}}
                </div>
                <div class="team-record-container">
                    {{team.wins}}-{{team.losses}}-{{team.overtimeLosses}}
                </div>
            </div>
            {{/linkTo}}
        </div>
                {{/each}}
            </div>*@
            <div class="col-12">
                <div class="table-responsive">
                <table id="teamrankTable" class="table table-striped">
                    <thead>
                        <tr>
                            <td>Team</td>
                            <td>W</td>
                            <td>L</td>
                            <td>OTL</td>
                            @*  <td>ROW</td>*@
                            <td>PTS</td>
                            <td>GP</td>
                            <td>Twitter</td>
                        </tr>
                    </thead>
            <tbody>
                {{#each team in controllers.teams.sortedTeams}}
                <tr>
                    <td class="visible-lg">
                        @*{{#linkToAnimated 'team' team animations='main:flip'}}
                        <img style="height: 28px; width: auto;" class="home-team-image" {{bindAttr src="team.imageUrl"}} />
                        {{team.city}} {{team.name}}
                        {{/linkToAnimated}}*@
                        {{#linkTo 'team' team}}
                        <img style="height: 28px; width: auto;" class="home-team-image" {{bindAttr src="team.imageUrl"}} />
                        {{team.city}} {{team.name}}
                        {{/linkTo}}
                    </td>
                    <td class="hidden-lg">
                       @* {{#linkToAnimated 'team' team animations='main:flip'}}
                        {{team.abr}}
                        {{/linkToAnimated}}*@
                        {{#linkTo 'team' team}}
                        {{team.abr}}
                        {{/linkTo}}
                    </td>
                    <td>{{team.wins}}</td>
                    <td>{{team.losses}}</td>
                    <td>{{team.overtimeLosses}}</td>
                    @* <td>{{team.regulationOvertimeWins}}</td>*@
                    <td><strong>{{team.points}}</strong></td>
                    <td>{{team.gamesPlayed}}</td>
                    <td><a style="cursor: pointer" {{bindAttr href="team.twitterLink"}}>{{team.twitter}}</a></td>
                </tr>
                {{/each}}
            </tbody>
                </table>
                    </div>
                {{else}}
                <div class="loader">
                    <div class="duo duo1">
                        <div class="dot dot-a"></div>
                        <div class="dot dot-b"></div>
                    </div>
                    <div class="duo duo2">
                        <div class="dot dot-a"></div>
                        <div class="dot dot-b"></div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    </script>

    <script type="text/x-handlebars" data-template-name="teamgridteam">
        blah
        </script>


    <script type="text/x-handlebars" data-template-name="topplayers">
        <div class="container">
        <div class="row">
            <div class="col-lg-10 col-offset-1">

            
        {{#if playersIsLoaded}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="playerTableHeaders">
                            <td>
                                Name
                            </td>
                            <td class="text-info" {{action 'sortStat' "gamesPlayed"}}>
                                Games
                            </td>
                            <td class="text-info" {{action 'sortStat' "assists"}}>
                                Assists
                            </td>
                            <td class="text-info" {{action 'sortStat' "goals"}}>
                                Goals
                            </>
                            <td class="text-info" {{action 'sortStat' "points"}}>
                                Points
                            </td>
                          @*  <td>
                                Minutes
                            </td>*@
                            <td class="text-info" {{action 'sortStat' "plusMinus"}}>
                                +/-
                            </td>
                             <td class="text-info" {{action 'sortStat' "shots"}}>
                                Shots
                            </td>
                            <td class="text-info" {{action 'sortStat' "shootingPercentage"}}>
                                Shot%
                            </td>
                            <td class="text-info" {{action 'sortStat' "hits"}}>
                                Hits
                            </td>
                            <td class="text-info" {{action 'sortStat' "faceoffPercentage"}}>
                                FO%
                            </td>
                            <td class="text-info" {{action 'sortStat' "faceoffsWon"}}>
                                FO/W
                            </td>
                            <td class="text-info" {{action 'sortStat' "faceoffsTaken"}}>
                                FO/T
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @*{{#each player in controllers.roster}}*@
                        {{#each player in roster}}
                            <tr>
                                <td class="hidden-lg">
                                    

                            {{#linkTo 'player' player}}
                                {{player.lastName}}
                            {{/linkTo}}
                            {{#if player.isInjured}}
                            <small>(out {{player.injuryLength}} games)</small>
                            {{/if}}
                        </td>
                        <td class="visible-lg">
                            <img style="height: 22px; width: auto;" class="home-team-image"  {{bindAttr src="player.team.imageUrl"}} />

                            


                            {{#linkTo 'player' player}}
                                {{player.firstName}} {{player.lastName}}
                            {{/linkTo}}
                            {{#if player.isInjured}}
                            <small>(out {{player.injuryLength}} games)</small>
                            {{/if}}
                        </td>
                                <td>
                                    {{player.singleYearStats.gamesPlayed}}

                                </td>
                                <td>
                                    {{player.singleYearStats.assists}}
                                </td>
                                <td>
                                    {{player.singleYearStats.goals}}
                                </td>
                                <td>
                                    {{player.singleYearStats.points}}
                                </td>
                              @*  <td>
                                    {{player.singleYearStats.minutes}}
                                </td>*@
                                <td>
                                    {{player.singleYearStats.plusMinus}}
                                </td>
                                 <td>
                                    {{player.singleYearStats.shots}}
                                </td>
                                 <td>
                                    {{player.singleYearStats.shootingPercentage}}%
                                </td>
                                <td>
                                    {{player.singleYearStats.hits}}
                                </td>
                                <td>
                                    {{player.singleYearStats.faceoffPercentage}}%
                                </td>
                                <td>
                                    {{player.singleYearStats.faceoffsWon}}
                                </td>
                                <td>
                                    {{player.singleYearStats.faceoffsTaken}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
            
        {{else}}
            <div class="loader">
  <div class="duo duo1">
    <div class="dot dot-a"></div>
    <div class="dot dot-b"></div>
  </div>
  <div class="duo duo2">
    <div class="dot dot-a"></div>
    <div class="dot dot-b"></div>
  </div>
</div>
        {{/if}}
                </div>
        </div>
            </div>
        

</script>





    <!-- LINE TEMPLATE -->
<script type="text/x-handlebars" data-template-name="line">





    {{#if leftW}}
    <div class="well well-small" style="display: inline-block">
       LW: {{#linkTo 'player' leftW}} {{leftW.firstName}} {{leftW.lastName}} {{/linkTo}}
        ({{leftW.overall}})
   </div>
   {{/if}}
   {{#if centre}}<div class="well well-small" style="display: inline-block">
   C:  {{#linkTo 'player' centre}} {{centre.firstName}} {{centre.lastName}} {{/linkTo}}
       ({{centre.overall}})
</div>
{{/if}}
{{#if rightW}}
<div class="well well-small" style="display: inline-block">
    RW: {{#linkTo 'player' rightW}} {{rightW.firstName}} {{rightW.lastName}} {{/linkTo}}
    ({{rightW.overall}})
</div>
{{/if}}
{{#if leftD}}<div class="well well-small" style="display: inline-block">
LD:  {{#linkTo 'player' leftD}} {{leftD.firstName}} {{leftD.lastName}}{{/linkTo}}
    ({{leftD.overall}})
</div>
{{/if}}
{{#if rightD}}<div class="well well-small" style="display: inline-block">
RD:  {{#linkTo 'player' rightD}} {{rightD.firstName}} {{rightD.lastName}}{{/linkTo}}
    ({{rightD.overall}})
</div>
{{/if}}
{{#if goalie}}
<div class="well well-small" style="display: inline-block">
   G:  {{#linkTo 'player' goalie}} {{goalie.firstName}} {{goalie.lastName}} {{/linkTo}}
    ({{goalie.overall}})
</div>
{{/if}}
</script>


<!-- TEAM TEMPLATE -->
<script type="text/x-handlebars" data-template-name="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
@*                          <div class="jumbotron">
              <h1>{{city}} {{teamname}}</h1>
              <p>team stuff</p>
            <div class="jumbotronContainer">
                    <img {{bindAttr src="imageUrlLarge"}} />
        
                <div class="statsContainer">                 </div>
                <h1>{{city}} {{teamname}} <a {{bindAttr href="twitterLink"}}>({{twitter}})</a></h1>
            </div>*@

                <div class="page-header">
                    <h1>{{city}} {{teamname}} <img {{bindAttr src="imageUrl"}} /><small><a {{bindAttr href="twitterLink"}}>({{twitter}})</a></small></h1>
                </div>
            
        </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
        <div class="well well-small">
          {{#if statsIsLoaded}} 
@*          <small class="lead">{{wins}}-{{losses}}-{{overtimeLosses}}</small>
          <small> Points: </small> <small class="lead">{{points}}</small> *@
          <small>Cap Space:</small> <small class="lead">{{capSpace}}</small>           
          {{else}} <small class="lead"> Loading Team Info...</small>{{/if}}
      </div>
</div>
  </div>
   



        <div class="row">
                <div class="col-lg-4">
                    <div class=" stats-box contract">
        <span class="stats-box-title">Record</span>
        <div class="numberBox">   
            <span>Wins</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{wins}}</span>
            </div>
        </div>  
        <div class="numberBox">   
            <span>Losses</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{losses}}</span>
            </div>
        </div> 
        
        <div class="numberBox">   
            <span>OTL</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{overtimeLosses}}</span>
            </div>
        </div>    
                    
                    <div class="numberBox">   
            <span>Points</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{points}}</span>
            </div>
        </div>  
                    </div>           
    </div>
        </div>

@*        <div class="row">
            <div class="col-6">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="col-6">
                <ul id="playerList">

                </ul>
            </div>
        </div>*@

        <div class="row">
            <div class="col-lg-12">


  <ul class="nav nav-tabs teamTabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Roster</a></li>
    <li><a href="#tab2" data-toggle="tab">Lines</a></li>
    <li><a href="#tab3" data-toggle="tab">Schedule</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        @* ROSTER TAB *@
        {{#if rosterIsLoaded}}

        <p class="lead">Filter by Position</p> 
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" {{action "filterPosition" "f"}}>F</button>
            <button type="button" class="btn btn-default btn-sm" {{action "filterPosition" "LW"}}>LW</button>
            <button type="button" class="btn btn-default btn-sm" {{action "filterPosition" "C"}}>C</button>
            <button type="button" class="btn btn-default btn-sm" {{action "filterPosition" "RW"}}>RW</button>
            <button type="button" class="btn btn-default btn-sm" {{action "filterPosition" "D"}}>D</button>
            <button type="button" class="btn btn-default btn-sm" {{action "filterPosition" "G"}}>G</button>
            <button type="button" class="btn btn-default btn-sm" {{action "filterPosition" "all"}}>All</button>
            </div>

            <table class="table table-responsive">
                <thead>
                    <tr class="playerTableHeaders">
                        <td class="text-info">Name</td>
                        <td class="text-info" {{action 'sortProperty' "age"}}>Age</td>
                        <td class="text-info" {{action 'sortProperty' "overall"}}>Overall</td>
                        <td class="text-info" {{action 'sortProperty' "salary"}}>Salary</td>
                        @*<td class="text-info" {{action 'sortProperty' "yearsLeft"}}>Years Left</td>*@
                        <td class="text-info">Position</td>
                        <td class="text-info" {{action 'sortProperty' "potential"}}>Potential</td>
                        <td class="text-info hidden-lg" {{action 'sortProperty' 'tradeValue'}}>Value</td>
                        <td class="text-info visible-lg" {{action 'sortProperty' 'tradeValue'}}>Trade Value</td>
                        @*<td class="text-info">Contract</td>*@
                        
                    </tr>
                </thead>
                <tbody>
                    @*{{#each player in filteredRoster}}*@
                    @*{{#each player in controllers.roster}}*@
                    {{#each player in filteredRoster}}
                    <tr>
                        <td class="hidden-lg">
                          @*  {{#linkToAnimated 'player' player animations='main:slideLeft'}}  
                                {{player.lastName}}
                            {{/linkToAnimated}}*@
                            {{#linkTo 'player' player}}
                                {{player.lastName}}
                            {{/linkTo}}
                            {{#if player.isInjured}}
                            <small>(out {{player.injuryLength}} games)</small>
                            {{/if}}
                        </td>
                        <td class="visible-lg">
                           @* {{#linkToAnimated 'player' player animations='main:slideLeft'}}  
                                {{player.firstName}} {{player.lastName}}
                            {{/linkToAnimated}}*@

                            {{#linkTo 'player' player}}
                                {{player.firstName}} {{player.lastName}}
                            {{/linkTo}}
                            {{#if player.isInjured}}
                            <small>(out {{player.injuryLength}} games)</small>
                            {{/if}}
                        </td>
                        <td>{{player.age}}</td>
                        <td>{{player.overall}}</td>
                        <td class="hidden-lg">
                            ${{player.salarySmall}}
                        </td>
                        <td class="visible-lg">
                            {{player.salaryReadable}}
                        </td>
                        @*<td>{{player.yearsLeft}}</td>*@
                        <td>{{player.position}}</td>
                        <td><span {{bindAttr class=":label player.readPotentialColor"}}>{{player.readPotential}}</span></td>
                        <td>
                            <div class="progress progress-info">
                                <div class="progress-bar" {{ bindAttr style="player.tradeValuePercent"}}></div>
                            </div>
                        </td>
                        <td>@*<span {{bindAttr class=":label player.isTwoWay:label-warning:label-success"}}>{{player.contractType}}</span>*@</td>
                        
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <div class="loader">
                <div class="duo duo1">
                    <div class="dot dot-a"></div>
                    <div class="dot dot-b"></div>
                </div>
                <div class="duo duo2">
                    <div class="dot dot-a"></div>
                    <div class="dot dot-b"></div>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="tab-pane" id="tab2">
        @* LINE COMBO TAB *@
        {{#if linesIsLoaded}}
            
            <ul class="nav nav-pills">
                {{#each line in lines}}
              <li><a {{bindAttr href="line.lineid"}} data-toggle="tab">{{line.name}}</a></li>
                {{/each}}
            </ul>
        <div class="tab-content">
            {{#each line in lines}}
              <div class="tab-pane" {{bindAttr id="line.linename"}}>
                  {{render "line" line}}
              </div>
              {{/each}}
          </div>
            {{else}}
          <img class="rotating" src="/Content/images/loading.png">
            {{/if}}
        
        </div>
    <div class="tab-pane" id="tab3">
        {{#if scheduleIsLoaded}}
        {{render 'schedule' schedule}}
        {{else}}
        Schedule is loading...
        {{/if}}

      @*  {{#each game in schedule}}
        {{render "game" game}}

        {{/each}}*@
    </div>
                </div>
            </div>
        </div>
    </div>
    </script>

    <script type="text/x-handlebars" data-template-name="schedule">
        <div id="calendar">

        </div>
    </script>

<!-- Game TEMPALTE -->
    <script type="text/x-handlebars" data-template-name="game">
@*        {{#linkToAnimated 'team' awayTeam animations='main:slideRight'}}<img {{bindAttr src="awayTeam.imageUrl"}} />{{/linkToAnimated}} ({{awayTeam.wins}}-{{awayTeam.losses}}-{{awayTeam.overtimeLosses}})
        at 
        {{#linkToAnimated 'team' homeTeam animations='main:slideRight'}}<img {{bindAttr src="homeTeam.imageUrl"}} />{{/linkToAnimated}} ({{homeTeam.wins}}-{{homeTeam.losses}}-{{homeTeam.overtimeLosses}})
        Date: dd/mm/yyyy - {{day}}/{{month}}/{{year}}
        <br />*@
    </script>


    <!-- PLAYER TEMPALTE -->
    <script type="text/x-handlebars" data-template-name="player">
         {{#if playerIsLoaded}}
<div class="container">
   
    <div class="player-profile">
        <div class="player-bio">
            <div class="player-image-container">
                <img {{bindAttr src="imageUrl"}}/>
            </div>
            <div class="player-info">
                <p class="player-name">{{firstName}} {{lastName}} #{{jersey}}</p>
                <div class="player-team">

                    {{#linkTo 'team' controllers.team}}
                    <img {{bindAttr src="controllers.team.imageUrl"}} />  {{controllers.team.city}} {{controllers.team.teamname}}
                    {{/linkTo}}
                </div>
                <p class="player-etc"><i class="icon-home"></i>{{birthPlace}}</p>
                <p class="player-etc"><i class="icon-user"></i>Selected in Round {{draftRound}}, pick {{draftPosition}} </p>
                <p class="player-etc">Weight: {{weight}} lbs, Height: {{height}} in</p>
                @*{{playercopmare-search data-omg=id}}*@

                {{view App.Playercomparesearch}}
                <button class="btn btn-default" {{action "getNewRatings" }}>NHL 14 Ratings</button>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="stats-box contract">
                <span class="stats-box-title">Contract</span>
                <div class="numberBox">
                    <span>Years</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{yearsLeft}}</span>
                    </div>
                </div>
                <div class="numberBox salary">
                    <span>Salary</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">${{salarySmall}}</span>
                    </div>
                </div>

                <div class="numberBox contracttype">   
                    <span>Type</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{contractType}}</span>
                    </div>
                </div>       
            </div>        
        </div>

        <div class="col-lg-6">
            <div class="stats-box basicinfo">
                <span class="stats-box-title">Info</span>
                <div class="numberBox">   
                    <span>Overall</span>
                    <div class="numberBoxValueContainer">
                        {{playeroverall overall}} 
                    </div>
                </div>      
                <div class="numberBox">   
                    <span>Potential</span>
                    <div class="numberBoxValueContainer">
                        {{playerpotential potential potentialColor}}
                    </div>
                </div>     
                <div class="numberBox">   
                    <span>Age</span>
                    <div class="numberBoxValueContainer">
                        {{playerage age}}
                    </div>
                </div>     

                <div class="numberBox">   
                    <span>Position</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{position}}</span>
                    </div>
                </div>

                <div class="numberBox">   
                    <span>Shoots</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{handed}}</span>
                    </div>
                </div>     
            </div>         
        </div>
    </div>



    <div class="row">
        {{#each yearStat in playerStats}}
        <div class="col-lg-4">
            <div class="stats-box careerstats">
                <span class="stats-box-title">{{yearStat.year}} Stats</span>
                <div class="numberBox">   
                    <span>Goals</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{yearStat.goals}}</span>
                    </div>
                </div>   

                <div class="numberBox">   
                    <span>Assists</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{yearStat.assists}}</span>
                    </div>
                </div>   

                <div class="numberBox points">   
                    <span>Points</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{yearStat.points}}</span>
                    </div>
                </div>   

                <div class="numberBox">   
                    <span>Games</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{yearStat.gamesPlayed}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <hr />
    <div class="row">
        {{#if isGoalie}}
        <div class="col-lg-4">
            <table class="table table-bordered table-condensed">
                <caption>Goalie</caption>
                <tbody>
                    <tr>
                        <td>Vision</td>
                        <td>{{stat playerRatings.vision}}</td>
                    </tr>
                    <tr>
                        <td>Poke Check</td>
                        <td>{{stat playerRatings.pokeCheck}}</td>
                    </tr>
                    <tr>
                        <td>ShotRecovery</td>
                        <td>{{stat playerRatings.shotRecovery}}</td>
                    </tr>
                    <tr>
                        <td>ReboundControl</td>
                        <td>{{stat playerRatings.reboundControl}}</td>
                    </tr>
                    <tr>
                        <td>PuckPlayingFreq</td>
                        <td>{{stat playerRatings.puckPlayingFreq}}</td>
                    </tr>
                    <tr>
                        <td>StickLow</td>
                        <td>{{stat playerRatings.stickHigh}}</td>
                    </tr>
                    <tr>
                        <td>StickHigh</td>
                        <td>{{stat playerRatings.stickHigh}}</td>
                    </tr>
                    <tr>
                        <td>GloveLow</td>
                        <td>{{stat playerRatings.gloveLow}}</td>
                    </tr>
                    <tr>
                        <td>GloveHigh</td>
                        <td>{{stat playerRatings.gloveHigh}}</td>
                    </tr>

                    <tr>
                        <td>Angles</td>
                        <td>{{stat playerRatings.angles}}</td>

                    </tr>
                    <tr>
                        <td>FiveHole</td>
                        <td>{{stat playerRatings.fiveHole}}</td>
                    </tr>
                    <tr>
                        <td>Breakaways</td>
                        <td>{{stat playerRatings.breakaways}}</td>

                    </tr>
                    <tr>
                        <td>Puck Control</td>
                        <td>{{stat playerRatings.puckControl}}</td>
                    </tr>
                    <tr>
                        <td>Passing</td>
                        <td>{{stat playerRatings.passing}}</td>
                    </tr>
                    <tr>
                        <td>Aggressiveness</td>
                        <td>{{stat playerRatings.aggressiveness}}</td>
                    </tr>
                    <tr>
                        <td>Speed</td>
                        <td>{{stat playerRatings.speed}}</td>
                    </tr>
                    <tr>
                        <td>Agility</td>
                        <td>{{stat playerRatings.agility}}</td>
                    </tr>
                    <tr>
                        <td>Endurance</td>
                        <td>{{stat playerRatings.endurance}}</td>
                    </tr>
                    <tr>
                        <td>Durability</td>
                        <td>{{stat playerRatings.durability}}</td>
                    </tr>
                    <tr>
                        <td>Poise</td>
                        <td>{{stat playerRatings.poise}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{else}}  




        <div class="col-lg-4">
            <table class="table table-bordered table-condensed">
                <caption>Offensive</caption>
                <tbody>
                    <tr>
                        <td>Aggressiveness</td>
                        <td>{{stat playerRatings.aggressiveness}}</td>
                    </tr>
                    <tr>
                        <td>Wrist Shot Power</td>
                        <td>{{stat playerRatings.wristShotPower}}</td>
                    </tr>
                    <tr>
                        <td>Wrist Shot Accuracy</td>
                        <td>{{stat playerRatings.wristShotAccuracy}}</td>
                    </tr>
                    <tr>
                        <td>Slap Shot Power</td>
                        <td>{{stat playerRatings.slapShotPower}}</td>
                    </tr>
                    <tr>
                        <td>Slap Shot Accuracy</td>
                        <td>{{stat playerRatings.slapShotAccuracy}}</td>
                    </tr>
                    <tr>
                        <td>Puck Control</td>
                        <td>{{stat playerRatings.puckControl}}</td>
                    </tr>
                    <tr>
                        <td>Offensive Awareness</td>
                        <td>{{stat playerRatings.offAwareness}}</td>
                    </tr>
                    <tr>
                        <td>Hand Eye</td>
                        <td>{{stat playerRatings.handEye}}</td>
                    </tr>
                    <tr>
                        <td>Deking</td>
                        <td>{{stat playerRatings.deking}}</td>
                    </tr>
                    <tr>
                        <td>Passing</td>
                        <td>{{stat playerRatings.passing}}</td>
                    </tr>
                    <tr>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-bordered table-condensed">
                <caption>Defensive</caption>
                <tbody>
                    <tr>
                        <td>Faceoffs</td>
                        <td>{{stat playerRatings.faceoffs}}</td>
                    </tr>
                    <tr>
                        <td>Discipline</td>
                        <td>{{stat playerRatings.discipline}}</td>
                    </tr>
                    <tr>
                        <td>Defensive Awareness</td>
                        <td> {{stat playerRatings.defAwareness}}</td>
                    </tr>
                    <tr>
                        <td>Body Checking</td>
                        <td>{{stat playerRatings.bodyChecking}}</td>
                    </tr>
                    <tr>
                        <td>Fighting</td>
                        <td>{{stat playerRatings.fighting}}</td>
                    </tr>
                    <tr>
                        <td>Shot Blocking</td>
                        <td>{{stat playerRatings.shotBlocking}}</td>
                    </tr>
                    <tr>
                        <td>Stick Checking</td>
                        <td>{{stat playerRatings.stickChecking}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-bordered table-condensed">
                <caption>Athletic</caption>
                <tbody>
                    <tr>
                        <td>Speed</td>
                        <td>{{stat playerRatings.speed}}</td>
                    </tr>
                    <tr>
                        <td>Agility</td>
                        <td>{{stat playerRatings.agility}}</td>
                    </tr>
                    <tr>
                        <td>Endurance</td>
                        <td>{{stat playerRatings.endurance}}</td>
                    </tr>
                    <tr>
                        <td>Durability</td>
                        <td>{{stat playerRatings.durability}}</td>
                    </tr>
                    <tr>
                        <td>Acceleration</td>
                        <td>{{stat playerRatings.acceleration}}</td>
                    </tr>
                    <tr>
                        <td>Strength</td>
                        <td>{{stat playerRatings.strength}}</td>
                    </tr>
                    <tr>
                        <td>Poise</td>
                        <td>{{stat playerRatings.poise}}</td>
                    </tr>
                    <tr>
                        <td>Balance</td>
                        <td>{{stat playerRatings.balance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{/if}}
    </div>
    


    {{else}}
    <div class="loader">
        <div class="duo duo1">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
        <div class="duo duo2">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
    </div>
 
</div>
           {{/if}}
    </script>

    <script type="text/x-handlebars" data-template-name="playercompare">
        <div class="container">
         {{#if compareLoaded}}
   
        <div class="row">
            <div class="col-6">
                {{render "playerprofile" aPlayer}} 
            </div>
            <div class="col-6">
                {{render "playerprofile" bPlayer}}
            </div>
        </div>

        <div class="row">
            {{render "playerbasicinfobox" aPlayer}}
            {{render "playerbasicinfobox" bPlayer}}
        </div>
        <div class="row">
            {{render "playercontractbox" aPlayer}}
            {{render "playercontractbox" bPlayer}}
        </div>

        {{#each pr in aPlayer.playerRates}}
            {{#if pr.rating}}
                <div class="row">
                    <div class="col-lg-10 col-offset-1">
                        <p class="text-center">{{pr.name}}</p>
                        {{compare pr}}
                    </div>
                </div>
            {{/if}}
        {{/each}}

        {{else}}
    
        <div class="loader">
            <div class="duo duo1">
                <div class="dot dot-a"></div>
                <div class="dot dot-b"></div>
            </div>
            <div class="duo duo2">
                <div class="dot dot-a"></div>
                <div class="dot dot-b"></div>
            </div>
        </div>
       
         
         {{/if}}

            </div>
    </script>

    <script type="text/x-handlebars" data-template-name="compareratings">
           {{compare this}}
    </script>

    <script type="text/x-handlebars" data-template-name="playercontractbox">
        <div class="col-6">
            <div class="stats-box contract">
                <span class="stats-box-title">Contract</span>
                <div class="numberBox">
                    <span>Years</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{yearsLeft}}</span>
                    </div>
                </div>
                <div class="numberBox salary">
                    <span>Salary</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">${{salarySmall}}</span>
                    </div>
                </div>

                <div class="numberBox contracttype">
                    <span>Type</span>
                    <div class="numberBoxValueContainer">
                        <span class="numberBoxValue">{{contractType}}</span>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!--PLAYERPRFOILE TEMPLATE -->
<script type="text/x-handlebars" data-template-name="playerprofile">
                <div class="player-profile">
    <div class="player-bio">
        <div class="player-image-container">
         <img {{bindAttr src="imageUrl"}}/>
     </div>
     <div class="player-info">
        <p class="player-name">{{firstName}} {{lastName}} #{{jersey}}</p>

   </div>
</div>
</div>

            </script>


    <script type="text/x-handlebars" data-template-name="playerbasicinfobox">

    <div class="col-6">
        <div class="stats-box basicinfo">
        <span class="stats-box-title">Info</span>
        <div class="numberBox">   
            <span>Overall</span>
            <div class="numberBoxValueContainer">
                {{playeroverall overall}} 
            </div>
        </div>      
        <div class="numberBox">   
            <span>Potential</span>
            <div class="numberBoxValueContainer">
                {{playerpotential controller}}
            </div>
        </div>     
        <div class="numberBox">   
            <span>Age</span>
            <div class="numberBoxValueContainer">
                {{playerage age}}
            </div>
        </div>     
        
        <div class="numberBox">   
            <span>Position</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{position}}</span>
            </div>
        </div>
        
        <div class="numberBox">   
            <span>Shoots</span>
            <div class="numberBoxValueContainer">
                <span class="numberBoxValue">{{handed}}</span>
            </div>
        </div>     
        </div>         
    </div>

        </script>

    <script type="text/x-handlebars" data-template-name="trade">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @*   <h2>{{aTeam.newTradeSalary}}</h2>*@
                    {{#if teamsIsLoaded}}
                        {{view App.Tradeteamselect
                        contentBinding="allTeams"
                        optionValuePath="content.id"
                        optionLabelPath="content.teamname"
                        selectionBinding="aTeam"
                        itemController="Team"
                        }}
                    {{/if}}
                    <img {{bindAttr src="aTeam.imageUrl"}} />
                    <h3>Current Cap: {{aTeam.capSpace}}</h3>
                    <h4>Salary Avail After trade: {{aTeamSalaryAfterTrade}}</h4>
                </div>
                <div class="col-lg-6">

                    @*   <h2>{{aTeam.newTradeSalary}}</h2>*@
                    {{#if teamsIsLoaded}}
                {{view App.Tradeteamselect
                     contentBinding="allTeams"
                    optionValuePath="content.id"
                    optionLabelPath="content.teamname"
                    selectionBinding="bTeam"
                    itemController="Team"
                }}
                           {{/if}}
                 <img {{bindAttr src="bTeam.imageUrl"}} />
                    <h3>Current Cap: {{bTeam.capSpace}}</h3>
                    <h4>Salary Avail After trade: {{bTeamSalaryAfterTrade}}</h4>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    {{#if aTeam.rosterIsLoaded}}
                       <ul class="list-unstyled tradeRoster">
                           {{#each p in aTeam.roster}}
                       <li {{action 'aTeamAddToBlock' p}}>
                         {{#view 'App.tradeRosterListItem'}} 
                           {{p.firstName}} {{p.lastName}} {{p.overall}}
                            {{/view}}
                       </li>

                           {{/each}}
                       </ul>
                      {{else}}
                      LOADING...
                      {{/if}}
                  </div>
            <div class="col-lg-4">
                <h4>On Block: {{aTeam.tradeSalary}}</h4>

                <ul class="list-unstyled tradeBlockList">
                {{#each p in aTeam.tradeBlock}}
                <li class="tradeBlockPlayer">
                   <div>
                       <img style="width: 50px" {{bindAttr src="p.imageUrl"}} /> {{p.lastName}} {{p.salaryReadable}} {{p.overall}}

                   </div>
                </li>
                
                {{/each}}
                    </ul>            
            </div>
                   @*----- Bteam -----*@
         
            <div class="col-lg-4">
                <h4>On Block: {{bTeam.tradeSalary}}</h4>
                <ul class="list-unstyled tradeBlockList">
                {{#each p in bTeam.tradeBlock}}
                <li class="tradeBlockPlayer">
                   <div>
                       <img style="width: 50px" {{bindAttr src="p.imageUrl"}} /> {{p.lastName}} {{p.salaryReadable}} {{p.overall}}

                   </div>
                </li>
                
                {{/each}}
                    </ul>            
            </div>
                   <div class="col-lg-2">
                       <ul class="list-unstyled tradeRoster">
                            {{#each p in bTeam.roster}}
                       <li {{action 'bTeamAddToBlock' p}}>
                         {{#view 'App.tradeRosterListItem'}}
                       
                          
                           {{p.firstName}} {{p.lastName}} {{p.overall}}
                            {{/view}}
                       </li>
                        
                            {{/each}}
                     </ul>
                  </div>
        </div>

            <div class="row">
                <div class="col-lg-6">
                   
                    </div>
          @*      <div class="col-lg-6">
                      <ul class="list-unstyled">
                            {{#each p in bTeam.roster}}
                       <li {{action 'bTeamAddToBlock' p}}>
                           {{p.firstName}} {{p.lastName}}
                       </li>
                            {{/each}}
                     </ul>
                </div>*@
            </div>




        <div class="row">
            <div class="col-lg-6">
                {{aTeam.city}} {{aTeam.teamname}}
            </div>
            <div class="col-lg-6">
                {{bTeam.city}} {{bTeam.teamname}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
    </script>
    
    <script type="text/x-handlebars" data-template-name="tradeteaminfo">
        <div class="col-lg-6">
            {{teamname}} of {{city}}
        </div>
    </script>
</body>
