@{
    ViewBag.title = "LOBNHL";
}
<div id="initial-load" class="initial-load">
    <div class="loading spin-2"></div>
    <h1>Loading LOBNHL Data... </h1>
</div>
<script type="text/x-handlebars">
    {{render navbar}}
    {{outlet}}
    {{outlet modal}}

</script>




