



<div class="row">

  <div class="small-8 medium-12 columns player-basic-block">
    <div class="row name">
      <div class="small-12 columns">
        <div class="first-name">
          {{firstName}}
        </div>
      </div>
    </div>
    <div class="row name">
      <div class="small-12 column">
        <div class="last-name">
          {{lastName}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns potentialColor">
        {{#each potentialStars}}
        <i {{bind-attr class=":fa isFullStar:fa-star:fa-star-half-o color" }}></i>
        {{/each}}
      </div> 
    </div>
  </div>
</div>





 







