<div {{action "showTab" sort}} {{bind-attr class=":col-sm-2 designClass isCurrent" }}>
    <div class="icon hidden-xs">
        <i {{bind-attr class=":fa iconName" }}></i>
    </div>
    <span class="value-label">
        {{label}}
    </span>
</div>