<div class="row">
    <div class="small-4 columns">
        {{#link-to 'player' this}}
        {{unbound lastName}}
        {{/link-to}}
    </div>
    <div class="small-2 columns">
        {{unbound overall}}
    </div>
    <div class="small-3 columns">
        {{unbound potential}}
    </div>
    <div class="small-3 columns">
        {{unbound salarySmall}}
    </div>
</div>