<div class="small-2 columns" {{action sortbyproperty "overall" }}>
    <i class="fa fa-smile-o"></i>
</div>
<div class="small-3 columns" {{action sortbyproperty "potential" }}>
    <i class="fa fa-star-half-o"></i>
</div>
<div class="small-3 columns" {{action sortbyproperty "salary" }}>
    <i class="fa fa-usd"></i>
</div>