<div class="row">
    <div class="small-2 columns">
        {{#link-to 'player' this}}
        <span class="last-name">
            {{unbound lastName}}
        </span>
        {{/link-to}}
    </div>

    {{#each year in salaryYears}}
    <div class="small-2 columns">
        <span class="contractStatus {{unbound year.salaryClass}}">
            {{unbound year.salarySmall}}
        </span>
    </div>
    {{/each}}


</div>