<div class="row">
    <div class="small-2 columns">
        {{#link-to 'player' this}}
        <span class="last-name">
            {{unbound lastName}}
        </span>
        {{/link-to}}
    </div>




</div>