<div class="player-profile">
    <div class="player-bio">
        <div class="player-image-container">
            <img {{bindattr src="imageUrl" }} />
        </div>
        <div class="player-info">
            <p class="player-name">{{firstName}} {{lastName}} #{{jersey}}</p>

        </div>
    </div>
</div>
