<div class="row">
  <div class="small-3 columns team-tab-button">
    {{#link-to 'home' }}<i class="fa fa-chevron-left"></i>{{/link-to}}
  </div>
  <div {{action "selectTab" "teamstats"}} class="small-3 columns team-tab-button">
    <i class="fa fa-bar-chart-o"></i>
  </div>
  <div {{action "selectTab" "roster"}} class="small-3 columns team-tab-button">
    <i class="fa fa-group"></i>
  </div>
  <div class="small-3 columns team-tab-button">
    <i class="fa fa-calendar-o"></i>
  </div>
</div>

{{outlet teammain}}

